

@import 
#mainform{
width:960px;
margin:20px auto;
padding-top:px;
font-family:'Fauna One',serif
}
#first
{
margin-top:-10px;
background-color:#006;
color:red;
height:150px;
text-align:center;
border-top-left-radius:30px;
border-top-right-radius:30px;
border-bottom-style:double;
//border-radius:25px;
}
#second li
{
display:inline;
padding:20px;

}
#second li a
{
padding: 10px 20px;
border-radius:  12px 12px 12px 12px;
text-decoration:none;
color:#009;
}
#second li a:hover
{
background-color:orange;
color:blue;
}
#second
{
font-size:20px;
height:60px;
background-color:#399;
color:black;
text-align:center;
padding:5px;
}
#last
{
margin-top:650px;
background-color:#0C0;
color:blue;
height:150px;
text-align:center;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
border-top-style:double;
//border-radius:25px;
}
#mainform h2{
width:100%;
float:left;
text-align:right;
margin-top:35px
}
.innerdiv{
width:60%;
float:left
}
#button
{
	background-color:#C00;
}
form{
background-color:#C00;
color:#123456;
box-shadow:0 1px 1px 1px gray;
width:500px;
margin:80px 500px 100px 320px;
float:center;
height:430px
}
h3{
margin-top:0;
margin-bottom:10px;
color:#fff;
background-color:#3C599B;
text-align:center;
width:100%;
height:50px;
padding-top:30px
}
input{
width:250px;
height:30px;
border-radius:3px;
padding:2px;
box-shadow:0 0 10px #a9a9a9;
margin:10px
}
input[type=button]{
background-color:#3C599B;
border:1px solid #fff;
font-family:'Fauna One',serif;
font-weight:700;
font-size:18px;
color:#fff;
margin-top:15px
}
span{
color:green
}
#myForm div{
color:red;
font-size:14px
}
table{
margin-left:40px
}
#imgdiv{
width:160px;
float:left;
margin-left:20px
}
#reload{
float:right;
margin-right:40px
}

